.inputForm{
    position: relative;
    width: 798px;
    margin-top:2.5px;
}
.inputForm input{
    border: 1.1px solid rgb(0, 77, 166);
    border-radius: 1.1px;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 283px;
    background-color:rgb(29, 29, 29);
    outline: none;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    transition: all 0.2s ease;
    font-size: 23px;
}
.inputForm input:hover {
    border: 1.1px solid rgb(0, 119, 255);
    border-radius: 1.1px;
}
.inputForm input:focus,
.inputForm input:valid{
    border: 1.1px solid rgb(0, 119, 255);
    border-radius: 1.1px;
}