* {
    font-family: 'Roboto', sans-serif;
}
body{
    transition: all 0.5s ease;
}
body.activery{
    background-color:rgb(40, 40, 40);
    transition: all 0.5s ease;
}
.reg{
    margin-top: 20px;
    transition: all 0.5s ease;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color: rgb(80, 80, 80);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.reg.activery{
    color: #ffffff;
}
.col{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 119, 255);
}
.sector-All{
    margin: auto;
    /* border: 1px solid rgb(144, 87, 87);  */
    width: 950px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 1px;
}
.sector-two{
 border: 1px solid rgba(255, 255, 255, 0); 
width: 460px;
height: 110px;
}
.sector-one{
    border: 1px solid rgba(255, 255, 255, 0); 
   width: 460px;
   height: 110px;
}
.inputbox{
    margin-top: 20px;
    margin-left: 10px;
    position: relative; 
}
.inputbox input{
    border: 1px solid rgba(0, 98, 255, 0.634);
    border-radius: 1.5px;
    width: 375px;
    padding:30px;
    background:rgb(240, 240, 240);
    outline: none;
    color: rgb(80, 80, 80);
    transition: all 0.4s ease;
    font-size: 20px;
    box-shadow: 4px 4px rgba(139, 139, 139, 0.149);
}
.inputbox input:hover {
    border: 1px solid rgb(0, 98, 255);
    background:rgba(240, 240, 240, 0);
    border-radius: 1.5px;
}
.inputbox input:focus,
.inputbox input:valid{
    border: 1px solid rgb(0, 98, 255);
    border-radius: 1.5px;
}
.inputbox.activery input {
    background:rgba(240, 240, 240, 0);
    color: white;
}
.inputbox.activery input::placeholder {
    color: rgba(255, 255, 255, 0.453);
}
.inputbox-one{
    margin-top: 20px;
    margin-left: 10px;
    position: relative; 
}
.inputbox-one input{
    border: 1px solid rgba(0, 98, 255, 0.634);
    border-radius: 1.5px;
    width: 375px;
    padding:30px;
    background:rgb(240, 240, 240);
    outline: none;
    color: rgb(80, 80, 80);
    transition: all 0.4s ease;
    font-size: 20px;
    box-shadow: 4px 4px rgba(139, 139, 139, 0.149);
}
.inputbox-one.activery input {
    background:rgba(240, 240, 240, 0);
    color: white;
}
.inputbox-one.activery input::placeholder {
    color: rgba(255, 255, 255, 0.453);
}
.inputbox-one input:hover {
    border: 1px solid rgb(0, 98, 255);
    background:rgba(240, 240, 240, 0);
    border-radius: 1.5px;
}
.inputbox-one input:focus,
.inputbox-one input:valid{
    border: 1px solid rgb(0, 98, 255);
    border-radius: 1.5px;
}
/* .inputbox input:hover {
    background: rgb(255, 255, 255);
    border-radius: 1.5px;
} */
/* .inputbox input:focus,
.inputbox input:valid{
    background: rgb(255, 255, 255);
    border-radius: 1.5px;
} */
/* .inputbox span{
    position: absolute;
    left: 0;
    padding: 12px;
    pointer-events: none;
    font-size: 10px;
    color: rgb(255, 255, 255);
    background:rgb(0, 98, 255);
    transform: translateX(20px) translateY(-10px);
    font-size: 0.90em;
    padding: 3px 15px;
    border-radius: 1.5px;
    transition: all 0.4s ease;
}
.inputbox input:hover ~ span{
    background:rgb(0, 119, 255);
    border-radius: 1.1px;
    color: rgb(255, 255, 255);
}
.inputbox input:focus ~ span,.inputBox input:valid ~ span{
    background:rgb(0, 119, 255);
    border-radius: 1.1px;
    color: rgb(255, 255, 255);
}  */
::placeholder {
    color: rgba(0, 0, 0, 0.288);
}